html{
  background-color: #17202a;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header {
  display: flex;
  width: 100%;
  height: 180px;
  background-color: #c0392b;
  position: fixed;
  top: 0;
}
@media only screen and (max-width: 600px){
  header{
    height: 90px;
  }
}
.htitle{
  font-size: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@media only screen and (max-width: 600px){
  .htitle{
    font-size: 20px;
  }
}
h1{
  font-size: 40px;
  text-decoration: underline;
  font-weight:700;
}
@media only screen and (max-width: 600px){
  h1{
    font-size: 20px;
  }
}
#logo {
  background-color: #fbfcfc;
  padding: 0.4rem;
  display: flex;
  flex: wrap;
  width: max(10rem, 18vw);
  margin-left: 25px;
}
@media only screen and (max-width: 600px){
  #logo{
    width: max(6rem, 10vw);
    margin-left:0;
  }
}
body{
  color: #17202a;
  margin: 0;
}
main{
  padding-top: 180px;
  background-color: #154360;
  color: #ecf0f1;
}
@media only screen and (max-width: 600px){
  main{
    padding-top: 90px;
  }
}
img {
  display: block;
  margin: 0 auto;
  max-height: 500px;
  max-width: 100%;
}
figcaption{
  display: none;
}
.text-container {
  margin-left: 0 auto;
  text-align: center;
  float: center;
  font-size: 60px;
}
@media only screen and (max-width: 600px){
  .text-container{
    font-size: 30px;
  }
}
.link{
  display: block;
  text-align: center;
  margin: 0 auto;
  color: #f1c40f;
}
a:hover{
  cursor: pointer;
  background-color: #c0392b;
  color: #fbfcfc; 
}
